*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 1rem;
}

select{
  margin: 0 1rem 1rem 0;
}

main{
    padding: 1rem;
    font-size: 16px;
    background-color: aqua;
}

p{
    margin: 1rem;
}

button{
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}

